services:
  # --- BANCO DE DADOS (Agora acessível pelo PM2) ---
  postgres_db:
    image: postgres:16
    container_name: erp_postgres
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: Electrosal123
      POSTGRES_DB: erp_electrosal
    ports:
      - "5432:5432" # Libera o banco para o Backend (PM2)
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d erp_electrosal"]
      interval: 10s
      timeout: 5s
      retries: 5

  # --- PROXY (Gerencia seus Domínios e SSL) ---
  nginx-proxy:
    image: 'jc21/nginx-proxy-manager:latest'
    container_name: erp_proxy
    restart: always
    ports:
      - '80:80'
      - '81:81'
      - '443:443'
    volumes:
      - ./npm/data:/data
      - ./npm/letsencrypt:/etc/letsencrypt

  # --- N8N (Automação Integrada) ---
  n8n:
    image: docker.n8n.io/n8nio/n8n
    container_name: erp_n8n
    restart: always
    environment:
      - DB_TYPE=postgresdb
      - DB_POSTGRESDB_HOST=postgres_db
      - DB_POSTGRESDB_PORT=5432
      - DB_POSTGRESDB_DATABASE=erp_electrosal
      - DB_POSTGRESDB_USER=admin
      - DB_POSTGRESDB_PASSWORD=Electrosal123
    ports:
      - "5678:5678"
    depends_on:
      postgres_db:
        condition: service_healthy

volumes:
  postgres_data:
