services:
  # --- Backend NestJS ---
  erp-backend:
    build:
      context: .
      dockerfile: apps/backend/Dockerfile
    container_name: erp_backend
    restart: unless-stopped
    environment:
      # Usando o nome do container do banco 'postgres_db' na rede interna
      DATABASE_URL: "postgresql://admin:Kapm306066858@@postgres_db:5432/erp_electrosal?schema=public"
      NODE_ENV: production
      PORT: 3001
    networks:
      - apps_network

  # --- Frontend Next.js ---
  erp-frontend:
    build:
      context: .
      dockerfile: apps/frontend/Dockerfile
    container_name: erp_frontend
    restart: unless-stopped
    environment:
      - NEXT_PUBLIC_API_URL=https://api.electrosal.com.br
      - NODE_ENV=production
    networks:
      - apps_network

  # --- Automação n8n ---
  n8n:
    image: n8nio/n8n
    container_name: n8n
    restart: always
    environment:
      - GENERIC_TIMEZONE=America/Sao_Paulo
      - N8N_EXTERNAL_URL=https://n8n.electrosal.com.br
      - DB_TYPE=postgresdb
      - DB_POSTGRESDB_HOST=postgres_db
      - DB_POSTGRESDB_PORT=5432
      - DB_POSTGRESDB_DATABASE=erp_electrosal
      - DB_POSTGRESDB_USER=admin
      - DB_POSTGRESDB_PASSWORD=Kapm306066858@@
    volumes:
      - ./n8n-data:/home/node/.n8n
    networks:
      - apps_network

networks:
  apps_network:
    external: true